<% if (title) { %>
<h1><%= title %></h1>
<% } %> <% if (messages && messages.error) { %>
<p class="error"><%= messages.error %></p>
<% } %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form action="/account/register" id="register-form" method="POST">
  <label for="first_name">First Name:</label>
  <input
    type="text"
    name="account_firstname"
    id="accountFirstname"
    required
    value="<%= locals.account_firstname %>"
  />

  <label for="last_name">Last Name:</label>
  <input
    type="text"
    id="account_lastname"
    name="account_lastname"
    required
    value="<%= locals.account_lastname %>"
  />

  <label for="email">Email:</label>
  <input
    type="email"
    id="account_email"
    name="account_email"
    required
    value="<%= locals.account_email %>"
  />

  <label for="password">Password:</label>
  <span class="password-requirements"
    >"Password must be at least 12 characters, include a number, a capital
    letter, and a special character."</span
  >
  <input
    type="password"
    id="account_password"
    name="account_password"
    required
    minlength="12"
    pattern="(?=.*\d)(?=.*[A-Z])(?=.*\W).{12,}"
  />
  <span id="pswdbtn">Show Password</span>

  <button type="submit">Register</button>
  <p>Already have an account? <a href="/account/login">Login</a></p>
  <script src="/js/passwordToggle.js"></script>
</form>
