<% if (title) { %>
<h1><%= title %></h1>
<% } %> <% if (messages.error) { %>
<p class="error"><%= messages.error %></p>
<% } %> <% if (messages.success) { %>
<p class="success"><%= messages.success %></p>
<% } %> <% if (locals.notice) { %>
<p class="notice"><%= notice %></p>
<% } %>

<h2>Update Account Information</h2>
<form action="/account/update" id="account-update" method="post">
  <label for="account_firstname">First Name</label>
  <input
    type="text"
    id="account_firstname"
    name="account_firstname"
    value="<%= accountData.account_firstname %>"
    required
  />

  <label for="account_lastname">Last Name</label>
  <input
    type="text"
    id="account_lastname"
    name="account_lastname"
    value="<%= accountData.account_lastname %>"
    required
  />

  <label for="account_email">Email</label>
  <input
    type="email"
    id="account_email"
    name="account_email"
    value="<%= accountData.account_email %>"
    required
  />

  <input
    type="hidden"
    name="account_id"
    value="<%= accountData.account_id %>"
  />

  <button type="submit">Update Info</button>
</form>

<h2>Change Password</h2>
<form action="/account/update-password" id="update-password" method="post">
  <label for="account_password">New Password</label>
  <input
    type="password"
    id="account_password"
    name="account_password"
    required
    minlength="12"
    pattern="(?=.*\d)(?=.*[A-Z])(?=.*\W).{12,}"
  />
  <span id="pswdbtn">Show Password</span>

  <label for="confirm_password">Confirm Password</label>
  <input
    type="password"
    id="confirm_password"
    name="confirm_password"
    required
  />
  <input
    type="hidden"
    name="account_id"
    value="<%= accountData.account_id %>"
  />

  <button type="submit">Change Password</button>
  <script src="/js/passwordToggle.js"></script>
</form>
